@font-face {
    font-family: 'Chocolates-semibold';
    src: url('../../assets/fonts/TT\ Chocolates\ Trial\ DemiBold.otf')
        format('truetype');
}

@font-face {
    font-family: 'Chocolates-light';
    src: url('../../assets/fonts/TT\ Chocolates\ Trial\ Light.otf')
        format('truetype');
}

.menu {
    width: 100vw;
    padding: 20px;
    background-color: black;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.menu a {
    color: white;
    text-decoration: none;
    font-family: 'Chocolates-semibold';
}
