* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 90vh;
    font-family: sans-serif;
    color: #fff;
    overflow: hidden;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    width: auto;
    height: 4rem;
    color: white;
}

header a {
    color: white;
    text-decoration: none;
}
header .header__menu :hover {
    transform: scale(110%);
    color: red;
}
header .header__menu--login :hover {
    transform: scale(110%);
    color: red;
}
header .header__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50vw;
}
header .header__menu--login {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40vh;
}
@font-face {
    font-family: 'Chocolates-semibold';
    src: url('../../assets/fonts/TT\ Chocolates\ Trial\ DemiBold.otf')
        format('truetype');
}

@font-face {
    font-family: 'Chocolates-light';
    src: url('../../assets/fonts/TT\ Chocolates\ Trial\ Light.otf')
        format('truetype');
}

.left-form {
    width: 50%;
    height: 100vh;
    overflow: hidden;
    float: left;
    background: #fff
        url('../../assets/images/b2a39d378122abc4ff0def8c94223170.jpg')
        no-repeat;
    background-size: cover;
}

.right-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50%;
    font-size: large;
    font-family: 'Chocolates-semibold';
    background-color: rgb(0, 0, 0);
}

.right__form--form {
    display: flex;
    flex-direction: column;
}

.right__form--form input {
    width: 20rem;
    border: none;
    outline: none;
    color: #fff;
    border: 2px solid white;
    border-radius: 40px;
    color: rgb(149, 149, 149);
    padding: 10px 0px 10px 10px;
    margin: 10px 0px;
    text-decoration-color: rgb(0, 0, 0);
    font-size: medium;
}

.right__form--titulo {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    width: 21rem;
    font-size: larger;
    color: #fff;
}

.right__form--register {
    font-family: 'Chocolates-light';
    margin-top: 1rem;
}

.right__form--register a {
    margin: 1rem;
    color: red;
}

.boton {
    display: flex;
    justify-content: center;
    margin: 2rem 0rem;
    width: 20rem;
}

.siguiente {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 10px;
    width: 10rem;
    height: 3rem;
    font-family: 'Chocolates-light';
    font-size: larger;
}

.siguiente a {
    color: white;
    text-decoration: none;
}

.siguiente:hover {
    transform: scale(1.1);
}

button[type="submit"] {
    background-color: red;
    width: 7rem;
    padding: .5rem;
    border-radius: .5rem;
    color: white;
    margin-left: 7rem;

  }
  