* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Chocolates-semibold";
  src: url(/TT\ Chocolates\ Trial\ DemiBold.otf) format("truetype");
}

@font-face {
  font-family: "Chocolates-light";
  src: url(./TT\ Chocolates\ Trial\ Light.otf) format("truetype");
}

body {
  background-color: rgba(0, 0, 0);
  margin: 0;
  padding: 0;
  font-family: "Chocolates-light";
}


.container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url('./assets/images/1366_2000.jpeg');
  background-position: center;
  background-size: cover;
}

.buscar input {
  width: 30rem;
  height: 1.8rem;
  font-size: 1rem;
  outline: none;
  border-radius: 30px;
  padding: 0 1rem;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  background-color: black;
  width: auto;
  height: 4rem;
  color: white;
}

header a {
  color: white;
  text-decoration: none;
  font-family: "Chocolates-light";
}
header .menu :hover {
  transform: scale(110%);
  color: red;
}
header .login :hover {
  transform: scale(110%);
  color: red;
}
header .menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 40vw;
}
header .login {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 40vh;
}

.row {
  display: flex;
  flex-direction: row;
  height: 40rem;
  align-items: center;
  justify-content: space-between;
  background-color: (rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}
.col {
  flex-basis: 40%;
  margin: 1rem;
}
h1 {
  color: white;
  font-size: 6rem;
  font-family: "Chocolates-semibold";
}

p {
  color: white;
  font-size: medium;
  font-family: "Chocolates-light";
}

button {
  width: 11.25rem;
  color: white;
  font-size: 0.75rem;
  padding: 0.75rem 0;
  background-color: red;
  border: none;
  border-radius: 20px;
  outline: none;
  margin-top: 1.875rem;
}

button:hover {
  transform: 0.9s;
  background-color: brown;
}

.col {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.coldos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 30rem;
  height: 30rem;
}

.card {
  width: 12rem; /* Ocupa todo el ancho de la columna */
  height: 12rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  padding: 0.938rem 1.98rem;
  box-sizing: border-box;
  cursor: pointer;
  background-position: center;
  background-size: cover;
  font-size: medium;
}

.card h5 {
  font-size: 2rem;
  font-family: "Chocolates-semibold";
  color: white;
}


.card1 {
  background-image: url(https://i.pinimg.com/236x/70/ba/32/70ba3249858988df0dd3870e98ec5140.jpg);
}

.card1 a {
  text-decoration: none;
}
.card1 p {
  font-size: medium;
  text-decoration: none;
}
.card2 {
  background-image: url(https://i.pinimg.com/236x/ff/09/b6/ff09b66cea9d3c255665782f0bb2c3ef.jpg);
}
.card2 a {
  text-decoration: none;
}
.card2 p {
  font-size: medium;
}
.card3 {
  background-image: url(https://i.pinimg.com/236x/c5/0b/e7/c50be71c386a069c4c271ed36823cab8.jpg);
}
.card3 a {
  text-decoration: none;
}
.card3 p {
  font-size: medium;
}
.card4 {
  margin-right: 2rem;
  background-image: url(https://i.pinimg.com/236x/81/48/4b/81484b25de26d71fb27628f21006690b.jpg);
}
.card4 a {
  text-decoration: none;
}

.card:hover {
  transform: translateY(-10px);
}
